.prompt{width: 0px; min-width: 0px; visibility: collapse}

strong{color: #2C3E50}

blockquote > p {
    color: #2C3E50;
    border: none!important;
}

blockquote {
    box-shadow: none;
}

h1, h2, h3, h4, h5 {color: #333333}

img {
   width:50%;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
